<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista correntista</title>
</head>
<body>
    <form th:action="@{correntistas/form}" method="GET" >
        <button class="btn btn-primary" type="submit">Novo</button>
    </form>
    <div th:text="${mensagem}" style="color: blue;"></div>
    <table border="1">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Admin</th>
                <th>Senha</th>
            </tr>

        </thead>
        <tbody>
            <tr th:each="correntista : ${correntistas}">
                <td th:text="${correntista.nome}"> </td>
                <td th:text="${correntista.email}"> </td>
                <td th:text="${correntista.admin}"> </td>
                <td th:text="${#strings.substring(correntista.senha,0,3)} + '...'"></td>

            </tr>
        </tbody>
    </table>
    
</body>
</html>